/* 
  Author: Philippe Roggeband - February 2020
  Version 1.0
  Change History:

  CSS stylesheet for site specificities. Built on "mobile first" model. 
*/

.noMargins {
  margin-left: 0em;
  margin-right: 0em;
}

.verticalSpace {
  height:20px;
}

.navbar-toggler {
  padding:0.25rem;
}
/*
Set colors
*/



.bg-IssyBlue {
  background: linear-gradient(90deg, #3E70D5 0%, #04468B 100%);
}

.icon-IssyBlue {
  background-color: #3E70D5;
  color:white;
}

.bg-darkIssyBlue {
    background-color: #04468B;
}

strong {
  color:#3E70D5;
}

/* css classes to allow correct display of embedded videos */

.video-responsive { 
  overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0;
  }
  
  .video-responsive iframe {
  left:0; 
  top:0; 
  height:100%;
  width:100%;
  position:absolute;
  }

/* Menu bar definitions */


.rectangle {
  height: 70px;
  background: linear-gradient(90deg, #3E70D5 0%, #04468B 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  vertical-align: middle;
}

.subMenu {
  height: 37px;
  width: auto;
  background: #04468B;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 100;
  vertical-align: middle;
  margin-bottom: 107px;
}

main {
  margin-top: 70px;;
}

.issyMenuBar {
    height: 40px;
    width: 140px;
    color: #FEFEFE;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
    margin-left: 3px;
    margin-top:auto;
    margin-bottom: auto;
}

.issySubMenuBar {
  height: 40px;
  color: #FEFEFE;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  margin-left: 3px;
  margin-top:auto;
  margin-bottom: auto;
}

.issySubMenuBar:hover {
  color:rgba(255,255,255,.7);
}

.rectangle-myIssyTri {
  height: 36px;
  width: 148px;
  border-radius: 18px;
  background-color: #FFFFFF;

  align-content: center;
}


.logo-myIssyTri {
  height: 23px;
  width:auto;
  vertical-align: center;
  float: left;
}

.text-myIssytri {
  height: 19px;
  width: 70px;
  color: #5AB4CD;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  margin:auto;
  padding-left: 16px;
}

/* Search form layout */

.rectangle-search {
  height: 36px;
  border-radius: 18px;
  background-color: transparent;
  color: #FEFEFE;
  margin:auto;
}

.searchButton {
  height: 36px;
  border: none;
  background-color: transparent;
  color: #FEFEFE;
  font-size: 1.2rem;
  padding-left: 0px;;
}

.mobileSearch {
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
  border:none;
  color:white;
}


.modal-backdrop {
  z-index: auto;
}

.input-search {
  background-color: transparent;
  color: white;
  border:none;
  width: 120px;
  color: #FEFEFE;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  margin:auto 2px;
}

.rectangle-search {
  box-sizing: border-box;
  height: 36px;
  width: 201px;
  border: 1px solid #FFFFFF;
  border-radius: 16.5px;
}

/* index page tile categories */


.actu {
  border-radius: 11.5px;
  background-color: #FC6565;
  color:white;
  height:23px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0.1rem 0.5rem;
  margin-left:2rem;
}

.club {
  border-radius: 11.5px;
  background-color: #80C81C;
  color:white;
  height:23px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0.1rem 0.5rem;
  margin-left:2rem;
}
.event {
  border-radius: 11.5px;
  background-color: #FF6235;
  color:white;
  height:23px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0.1rem 0.5rem;
  margin-left:2rem;
}

.calendar   {
  border-radius: 11.5px;
  background-color: #0061FF;
  color:white;
  height:23px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0.1rem 0.5rem;
  margin-left:2rem;
}

.fondBlanc {
  border-radius: 11.5px;
  background-color: #FFFFFF;
  color:#212121;
  height:23px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0.1rem 0.5rem;
  margin-left:2rem;
}

.callToAction {
  height: 500px;
  border-radius: 22px;
  background-color: #EF6565;
  color:white;
  font-family: Montserrat;
  font-size: 18px;
  padding: 0.5rem 1rem;
}

.indexBanner {
  height: 580px;
  width: 100%;
  background-image: url("../img/swim.jpg");
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: auto;
  
}


.img-gray {
    filter: grayscale(100%);
    width:110px;
    height:auto;
    margin-top: auto;
    margin-bottom: auto;
}

.img-color:hover {
  filter: grayscale(0%);
}

.modal-body {
  padding:0;
}

.modal-title {
  padding:1rem;
}


.card {
  border:none;
}
/************************************************** Mobile first **************************************************/

.navbarIcon {
  width:230px;
  height:auto;
}

/** Code to display text over a wide image */

.imgWide {
  height:420px;
  width:100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.filter {
  content: "";
  background-color: rgba(1,27,81,0.46);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Container holding the image and the text */
.imgContainer {
  display:inline-block;
  position: relative;
  text-align: center;
  color: white;
}


/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 3;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 3;
}

/* Centered text */
.centered-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}


.title {
  color: #212121;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  margin-left: 1em;
}

.sectionTitle {
  height: 44px;
  width: 667px;
  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 44px;
}

input {
    padding:10px;
      font-family: "FontAwesome", "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 0 !important;
  }
  
  .form-control {
    border-radius: 0 !important;
    font-size: 12x;
  }
  
  .clickable { cursor: pointer; }

  /* settings for dynamic calendar */

  .addeventatc {
    font-size: 10px;
  }
  
  .calTop {
      vertical-align: top;
  }

  .buttons {
    display:flex;
    flex-direction: row;
    justify-content: center ;
  }

  /* define classes for image library when editing a page  */

  .selected {
    border-style: solid;
    border-color: rgb(230, 230, 233) ;
    border-width : thick ;
  }

  .miniature {
    padding:2px;
    margin:2px;
  }


  .articleBanner {
    width:100%;
    height:290px;
    object-fit: cover;
    position: relative;
    margin-top: -60px;
  }

  .z-top {
    z-index:2;
  }

  .articleCircle {
    width: 120px;
    height: 120x;
    border-radius: 60px;
    object-fit: cover;
    position :absolute;
    left: 20px;
    top:230px;
  }

  body {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    text-align: justify;
  }

  h5 {
    text-align:left;
  }

  .bg-menu {
    background: linear-gradient(90deg, #3E70D5 0%, #04468B 100%);
    padding-left: 6px;
    padding-bottom: 6px;
  }

  .dropdown {
    z-index:1000;
  }

  .dropwdown-menu {
    background: white;
    z-index: 150;
  }

  .dropdown-item {
    font-family: Roboto;
    color: #696969;
    font-size: 14px ;
    font-size: inherit;
    z-index:150;
  }

  .articleCover {
    height:137px;
    width:137px;
    border-radius: 68px;
    object-fit: cover;
    margin-left:auto;
    margin-right:auto;
  }

  .articleCoverSq {
    height:137px;
    width:137px;
    object-fit: cover;
    margin-left:auto;
    margin-right:auto;
  }

  .pageText {
    margin-left: 1rem;
    margin-right: 1rem;
  }

/* Important !! sets the color for links in Wide sections */
  span a {
    color:white!important;
  }

  span a.blue {
    color:#007bff!important;
  }

  /**********************  Classes and display options for pages, sections and articles ***************/

  .section {
    background-color: white;
    padding:5px;
    margin-top:5px;
  }

  /* Define tile settings  */

  .tile {
    padding-left: 0px;
    padding-right: 0px;
  }

  .tile-flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tile-image-4 {
    height:150px;
    width:100%;
    object-fit: cover;
  }

  .tile-image-3 {
    height:150px;
    width:100%;
    object-fit: cover;
  }
  
  .tile-image-header {
    width:100%;
    height: 200px;
    object-fit: cover;
    margin: -65px 0 3px 0;
  }

  .tile-category {
    height: 20px;
    width: 78px;
    color: #212121;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 13px;
    text-align: left;
  }

  .tile-title {
    height: 27px;
    width:100%;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
  }

  .tile-text {
      font-family: Roboto;
      font-size: 14px;
      padding-left:1rem;
      padding-right:1rem;
  }


  .circle {
    background-color: #F80;
    border: 3px solid #FFF;
    border-radius: 18px;
    box-shadow: 0 0 2px #888;
    height: 30px;
    width: 30px;
  }

  .content {
    min-width: 800px ;
    max-width: 1100px ;
    margin-left: auto;
    margin-right: auto;
  }

  .center-content {
    display:flex;
    justify-content: center;
    flex-wrap: space-around ;
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .device {
    display:flex;
    flex-flow: column-reverse;
  }
  
  .menuBar {
    display:flex;
    flex-direction: row-reverse;
    padding: 0;
  }

  .partnerLogos {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .verticalCenter {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left:1em;
    padding-right:1em;
  }

  .infos-cles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
    width:100%
  }

  .img-90 {
    height: 90px;
    width:auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .oval-copy {
    box-sizing: border-box;
    height: 91px;
    width: 91px;
    border: 1px solid #1569DC;
    background-color: #FFFFFF;
    border-radius: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }

  .oval-text {
    line-height: 0.75em;
    color: #1569DC;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
  }

  .oval-text-small {
    font-size: 12px;
  }


  .rectangle-blue {
    box-sizing: border-box;
    height: 45px;
    width: 282px;
    border: 1px solid #1569DC;
    border-radius: 22px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    vertical-align: center;
    margin-bottom: 2em;
  }

  .rectangle-blue-text {
    color: #1569DC;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    margin-top:0.7rem;
    margin-bottom: auto;
  }

  .imgMobile {
    width:110px;
    height:110px;
    object-fit: cover;
    margin-bottom: 2px;
  }

  .imgGallery {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    padding:1em;
  }


  .dyncal-card {
    min-height: 88px;
  }

  .card-transparent {
    border: 0px;
    background-color: transparent;
  }

  .empty-dyncal-rectangle {
    height: 82px;
    width: 138px;
  }


  .dyncal-card-past {
    min-height: 88px;
    opacity: 0.3;
  }

  .dyncal-rectangle-1 {
    height: 82px;
    width: 5px;
    border-radius: 3px 0 0 3px;
  }

  .dyncal-rectangle-2 {
    height: 82px;

    width: 133px;
    background-color: #FFFFFF;

    border-radius: 0 3px 3px 0;
    /*
    margin-left: 10px;
    margin-top: 5px;
    */
  }


  .dyncal-rectangle-2-mobile {
    height: 82px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 3px 3px 0;
    margin-top: -82px;
    margin-left: 5px;

    /*
    margin-left: 10px;
    margin-top: 5px;
    */
  }


  .dyncal-rectangle-2-inner {
    margin-top: 5px;
  }

  .dyncal-rectangle-1-swim {
    background-color: #1569DC;
  }

  .dyncal-rectangle-1-run {
    background-color: #FFD321;
  }

  .dyncal-rectangle-1-bike {
    background-color: #FF6235;
  }

  .dyncal-rectangle-1-gpp {
    background-color: #80C81C;
  }

  .dyncal-rectangle-1-multi {
    background-color: #80C81C;
  }

  .dyncal-rectangle {
    height: 82px;
    width: 138px;
    margin-left: 0px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    /*background-color: #FFFFFF;*/
  }

  .dyncal-rectangle-mobile {
    height: 82px;
    width: 100%;
    margin-left: 0px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    /*background-color: #FFFFFF;*/
  }


  .dyncal-day {
    height: 21px;
    width: 138px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 10px;
    border: 0px;
  }

.heure {
  height: 21px;
  width: 48px;
  color: #1569DC;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 10px;
}

.dyncal-discipline {
  height: 16px;
  width: 69px;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.dyncal-discipline-swim {
  color: #1569DC;
}

.dyncal-discipline-run {
  color: #FFD321;
}

.dyncal-discipline-bike {
  color: #FF6235;
}

.dyncal-discipline-gpp {
  color: #80C81C;
}

.dyncal-discipline-multi {
  color: #80C81C;
}

.heure-place {
  height: 21px;
  width: 119.35px;
  color: #212121;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 10px;
}

.heure-coach {
  height: 21px;
  width: 119.35px;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 10px;
}

.calendar-background {
  height: 433px;
  width: 90%;
  border-radius: 6px;
  background-color: #005EBD;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  margin-left:auto;
  margin-right:auto;
}

  /* Hide display of certain elements on mobile */

  .mobile-hidden {
    display: none;
  }


  
/*********************************** Close MOBILE FIRST ***************************************/

/***************************************** TABLET   *******************************************/

@media screen and (min-width:768px) {

  .device {
    display:flex;
    flex-flow: column;
  }

  .menuBar {
    display:flex;
    flex-direction: row;
  }
}/*********************************** Close TABLETTE ***************************************/


/************************************* DESKTOP ********************************************/


@media screen and (min-width:1024px) {


  .tile-image-4 {
    height:251px;
    width:100%;
    object-fit: cover;
  }

  .tile-image-3 {
    height:171px;
    width:100%;
    object-fit: cover;
  }
  
  .verticalSpace {
    height:60px;
  }
  
  .calendar-background {
    width: 100%;
  }


  .navbarIcon {
    width:276px;
    height:auto;
  }
  .mobile-hidden {
    display: inline;
  }

  .device {
    display:flex;
    flex-flow: column;
  }

  .menuBar {
    display:flex;
    flex-direction: row;
  }

  .issyMenuBar {
    text-align: center;
  }

  .issySubMenuBar {
    text-align: center;
  }

/** Code to display text over a wide image */

.imgWide {
  height:420px;
  width:100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.filter {
  content: "";
  background-color: rgba(1,27,81,0.46);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Container holding the image and the text */
.imgContainer {
  display:inline-block;
  position: relative;
  text-align: left;
  color: white;
  width:100%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 3;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 115px;
  left: 110px;
  z-index: 3;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 40px;
  right: 110px;
  z-index: 3;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 110px;
  right: 100px;
  z-index: 3;
}

/* Centered text */
.centered-left {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

  .title {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    line-height: 40px;
  }

  .bg-menu {
    background: transparent;
    padding-left: 0px;
    padding-bottom: 0px;
  }



  .infos-cles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    background-color: #FFFFFF;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .img-90 {
    height: 90px;
    width:auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .oval-copy {
    box-sizing: border-box;
    height: 91px;
    width: 91px;
    border: 1px solid #1569DC;
    background-color: #FFFFFF;
    border-radius: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .oval-text {
    line-height: 0.75em;
    color: #1569DC;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
  }

  .oval-text-small {
    font-size: 12px;
  }

  .tile-text {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  
  .imgDT {
    width:180px;
    height:180px;
    object-fit: cover;
    margin-bottom: 3px;
  }

  .partnerLogos {
    height:200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }

  .verticalCenter {
    margin-top: auto;
    margin-bottom: auto;
  }

  .dt-hidden {
    display:none;
  }

  .articleBanner {
    width:100%;
    height:210px;
    object-fit: cover;
    object-position: 50% 30%;
  }

  .articleCircle {
    width: 120px;
    height: 120x;
    border-radius: 60px;
    object-fit: cover;
    position :absolute;
    left: 20px;
    top:150px;
  }

  .pageText {
    margin-left: 0;
    margin-right: 0;
  }

}/*********************************** Close DESKTOP ***************************************/




